#actions.content-box
  .title 
    %h3 
      %strong What are you drinking?
  .box
    %form#search-form{ :action => "/search", :method => "get" }
      = autocomplete_field  :beer, :name, autocomplete_beer_name_beers_path
      %input.search-button{ :type => "submit", :value => "Search" }
    #browse-by
      %h3 Browse by:
      %ul
        %li= link_to "Beers", beers_path
        %li= link_to "Breweries", breweries_path 
        %li= link_to "Style", styles_path
