<div id="external-auth">
  <p>Sign in with one of these providers:</p>
  <ul id="social-icons">
    <li><%= social_icon "facebook", icon_size %></li>
    <li><%= social_icon "twitter", icon_size %></li>
  </ul>
  <div class="clear"></div>
</div>
