<div id="top_home">
  <div id="search_home" class="round home_box">
    <h1>Find a beer</h1>
    <input type="text" />
    <input type="submit" value="Search" />
  </div>
  <div id="info_home" class="home_box">
    <p><strong>openbeer</strong> is an open beer database and public <abbr title="Application Programming Interface">API</abbr>. All content is submitted and maintained by beer lovers around the world, so <strong><%= link_to "Sign Up", '#' %></strong> and contribute!</p>
  </div>
</div>
<div id="new_beers">
  <h1>Newly Added Beers</h1>
</div>
