<div id="breweryBeerList">
  <%= link_to "+ Add", new_beer_path(:brewery_id => @brewery), :class => "add_link" %>
  <div>
  <h2>Beers</h2> 
  <ul>
  <% @brewery.beers.each do |beer| %>
    <li>
      <div class="thumb"><%= link_to thumbnail(beer), beer %></div>
      <%= link_to beer.name, beer %>
    </li>
  <% end %>
  </ul>
  </div>
</div>
