%li.index_item
  %span.thumb= link_to thumbnail(brewery), brewery
  %h3= link_to brewery.name, brewery
  = link_to "delete", brewery,  :method => :delete, 
                                :confirm => "Are you sure?",
                                :title => "Delete #{brewery.name}", 
                                :class => "delete_link"
