%li.index_item
  %span.thumb= link_to thumbnail(place), place
  %h3= link_to place.name, place
  = link_to "delete", place,  :method => :delete, 
                              :confirm => "Are you sure?",
                              :title => "Delete #{place.name}", 
                              :class => "delete_link"
